.projects {
    margin: 0 auto;
    height: 100%;
    padding: 40px 20px 40px 20px;
    background-color: #fff;
    max-width: 1200px;
    border-radius: 10px;
}

.projects-container {
    padding: 20px 0 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects-title {
    margin: 0 0 20px 0;
}

.projects-card {
    border-radius: 10px;
    box-shadow: 2px 2px 10px #494848;
    gap: 7px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 320px;
    width: 100%;
    transition: box-shadow .1s ease-in-out, scale .2s ease-in-out;
}

.projects-card:hover {
    cursor: pointer;
    box-shadow: 4px 5px 20px #947e1a;
    color: #fff;
    background-color: #411933;
    scale: 1.1;
}

.projects-card--image {
    max-width: 320px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.projects-card--wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.projects-card--text {
    font-size: 20px;
}

.projects-content {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;
}

.projects-image {
    width: 33px;
    height: 33px;
    cursor: pointer;

}

.projects-btn {
    height: 30px;
    width: 120px;
    color: #fff;
    border: none;
    background-color: #3c3c3c;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    transition: scale .2s ease-in-out;
}

.projects-btn:hover {
    scale: 1.2;
        
}

@media (max-width: 1100px) {
    .projects-title {
        text-align: center;
    }

    .projects-container {
        flex-direction: column;
    }

    .projects-card--image {
        max-width: 380px;
    }
}

.modal-btn {
    margin: 20px auto 0;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    border: none;
    height: 50px;
    color: #fff;
    background-color: #223f61;
    transition: scale .2s ease-in-out,background-color .2s ease-in-out;
}

.modal-btn:hover {
    background-color: #2b67ac;
    scale: 1.1;

}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    padding: 0 10px;
    display: flex;
    gap: 100px;
}

.modal-content--wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.modal-content--card {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 5px solid #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

.modal-title {
    font-size: 22px;
    color: #fff;
}

.modal-text {
    color: #fff;
    font-size: 16px;
}

.close {
    background-color: #361111;
    color: #fff;
    font-size: 30px;
    border: none;
    position: absolute;
    top: -50px;
    right: -100px;
    cursor: pointer;
    border-radius: 5px;
}

.close:hover {
    outline: 1px solid #fff;
}


@media (max-width: 768px) {
    .modal-content--card {
        max-width: 300px;
        width: 100%;
        padding: 10px;
        border: 4px solid #fff;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 5px;
    }

    .close {
        top: -20px;
        right: -50px;
    }
}

@media (max-width: 428px) {
    .close {
        top: -40px;
        right: -30px;
    }
}